In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [3]:
documents = [
    '배가 부르다',
    '배의 가격이 비싸다',
    '진짜 사과가 진짜 좋다.',
    '아침에 사과가 좋다'
]

In [4]:
documents

['배가 부르다', '배의 가격이 비싸다', '진짜 사과가 진짜 좋다.', '아침에 사과가 좋다']

In [5]:
vectorizer = CountVectorizer()

In [6]:
dtm = vectorizer.fit_transform(documents)
dtm.toarray()

array([[0, 1, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 1, 2],
       [0, 0, 0, 0, 0, 1, 1, 1, 0]], dtype=int64)

In [7]:
vectorizer.get_feature_names()

['가격이', '배가', '배의', '부르다', '비싸다', '사과가', '아침에', '좋다', '진짜']

In [8]:
import pandas as pd
tf = pd.DataFrame(dtm.toarray(), columns = vectorizer.get_feature_names())
tf

   가격이  배가  배의  부르다  비싸다  사과가  아침에  좋다  진짜
0    0   1   0    1    0    0    0   0   0
1    1   0   1    0    1    0    0   0   0
2    0   0   0    0    0    1    0   1   2
3    0   0   0    0    0    1    1   1   0

In [9]:
df = tf.astype(bool).sum(axis = 0)
df

가격이    1
배가     1
배의     1
부르다    1
비싸다    1
사과가    2
아침에    1
좋다     2
진짜     1
dtype: int64

In [10]:
D = len(tf)

idf = np.log((D+1) / (df + 1)) + 1
idf

가격이    1.916291
배가     1.916291
배의     1.916291
부르다    1.916291
비싸다    1.916291
사과가    1.510826
아침에    1.916291
좋다     1.510826
진짜     1.916291
dtype: float64

In [11]:
tfidf = tf*idf
tfidf

,가격이,배가,배의,부르다,비싸다,사과가,아침에,좋다,진짜
0,0.000000,1.916291,0.000000,1.916291,0.000000,0.000000,0.000000,0.000000,0.000000
1,1.916291,0.000000,1.916291,0.000000,1.916291,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,1.510826,0.000000,1.510826,3.832581
3,0.000000,0.000000,0.000000,0.000000,0.000000,1.510826,1.916291,1.510826,0.000000

 해당 문서에서만 자주 등장하는 단어에 높은 가중치를 주는 방식입니다. 그렇게 함으로써 해당 단어가 실질적으로 중요한 단어인지 검사

sklearn 안에 자동으로 해주는 것 잇음

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
# docs = list(all_title)
# tfidf_vectorizer = TfidfVectorizer